.link {
  border-bottom: var(--dashed-border-s);
  transition: border-bottom-color 0.2s ease-in-out;
  line-height: 2.2rem;
}

.link:hover,
.link:active {
  border-bottom-color: var(--palette-accent);
}
