.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-s);
  margin-bottom: var(--spacings-s);
}

.footer {
  display: flex;
  gap: var(--spacings-xxs);
  justify-content: center;

  @media only screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.footer p {
  font-size: inherit;

  @media only screen and (max-width: 900px) {
    font-size: 1.2rem;
  }
}
