* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  margin: 0 auto;
  //max-width: 1466px;
}

main {
  margin: 0 auto;
  padding: 5rem 18rem;
  width: 100%;
  background-color: $color-background;
  z-index: 5;
  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 8rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem;
  }
}
