* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  margin: 0 auto;
  max-width: 1466px;
}

main {
  padding: 5rem auto;
  background-color: $color-background;
}
