/// colors
$color-yellow: #ffe0ac;
$color-yellow-dark: #ffc563;
$color-font-grey: #454545;
$color-background: #e5e5e5;
$color-card-background: #f9f9f9;
/// font
$font-size-general: 2rem;

/// media-queries breakpoints
$bp-largest: 75em; // 1200
$bp-large: 62.5em; // 1000
$bp-medium: 53.125em; // 850
$bp-smallest: 37.5em; // 600

/// frameworks-colors
$js-yellow-back: #fddb3a;
$js-yellow-font: #8d7500;
$gulp-peach-back: #ffbfc0;
$gulp-peach-font: #cf4647;
$sass-pink-back: #ffb7db;
$sass-pink-font: #bf4080;
$html-green-back: #caffb7;
$html-green-font: #5ea03e;
$npm-blue-back: #b7ffff;
$npm-blue-font: #568484;
$aem-orange-back: #ffbb3c;
$aem-orange-font: #976200;
$parcel-blue-back: #b7c3cf;
$parcel-blue-font: #2e4e6b;
$jest-green-back: #bee9bc;
$jest-green-font: #096607;
$react-blue-back: #a1e8fc;
$react-blue-font: #1f5b6b;
$ts-blue-back: #bdcde0;
$ts-blue-font: #235a97;
$express-grey-back: #c0c0c0;
$express-grey-font: #2b2b2b;
