.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --2021-color-yellow: #ffe0ac;
  --2021-color-yellow-dark: #ffc563;
  --2021-color-font-grey: #454545;
  --2021-color-background: #e5e5e5;
  --2021-color-card-background: #f9f9f9;

  --2021-font-size-general: 1.2rem;

  --2021-bp-largest: 1200px;
  --2021-bp-medium: 850px;
  --2021-bp-smallest: 600;

  --2021-js-yellow-back: #fddb3a;
  --2021-js-yellow-font: #8d7500;
  --2021-gulp-peach-back: #ffbfc0;
  --2021-gulp-peach-font: #cf4647;
  --2021-sass-pink-back: #ffb7db;
  --2021-sass-pink-font: #bf4080;
  --2021-html-green-back: #caffb7;
  --2021-html-green-font: #5ea03e;
  --2021-npm-blue-back: #b7ffff;
  --2021-npm-blue-font: #568484;
  --2021-aem-orange-back: #ffbb3c;
  --2021-aem-orange-font: #976200;
  --2021-parcel-blue-back: #b7c3cf;
  --2021-parcel-blue-font: #2e4e6b;
  --2021-jest-green-back: #bee9bc;
  --2021-jest-green-font: #096607;
  --2021-react-blue-back: #a1e8fc;
  --2021-react-blue-font: #1f5b6b;
  --2021-ts-blue-back: #bdcde0;
  --2021-ts-blue-font: #235a97;
  --2021-express-grey-back: #c0c0c0;
  --2021-express-grey-font: #2b2b2b;
}

.main {
  margin: 0 auto;
  padding: 3rem 10rem;
  width: 100%;
  background-color: var(--2021-color-background);
  z-index: 5;
}

@media only screen and (max-width: 1000px) {
  .body {
    font-size: 13px;
  }

  .main {
    padding: 2rem 8rem;
  }
}

@media only screen and (max-width: 950px) {
  .main {
    padding: 2rem;
  }
}
