.body {
  padding: 0;
  margin: 0;
  font-family: var(--font-raleway);
  background-color: var(--palette-bg);
  color: var(--palette-text);

  --spacings-xxs: 0.5rem;
  --spacings-xs: 1rem;
  --spacings-s: 2rem;
  --spacings-m: 4rem;

  --palette-bg: #edece8;
  --palette-text: #161614;
  --palette-dark-orange: #f2a71b;
  --palette-light-bg: #fff;
}
