.wrapper {
  display: inline-block;
  position: fixed;
  top: 45lvh;
  right: 0%;
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  padding: 0.8rem 0;
  border: var(--dashed-border-s);
  border-right: 0;
  width: 5.6rem;
  transition: all 0.3s ease, border-top 1s ease;
  text-align: center;
  transform: translate3d(100%, 0, 0);
}

.timeMachineBtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.timeMachineBtn img {
  height: 3rem;
  display: block;
}

.expandingButtons {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: -9.7rem;
  width: 5.6rem;
  right: 0;
  background-color: #fff;
  border: var(--dashed-border-s);
  border-bottom: 0;
  border-right: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 0.8rem;
  gap: 0.8rem;
  font-family: inherit;
}

.wrapper:hover .expandingButtons,
.wrapper:active .expandingButtons {
  opacity: 1;
  visibility: visible;
}

.twentyThree:hover .wrapper,
.twentyThree:active .wrapper {
  border-top: 2px dashed transparent;
}

.expandingButtons a {
  border: 0;
  font-size: 1.2rem;
  font-family: monospace;
  padding: var(--spacings-xs) 0;
  border: var(--dashed-border-s);
  text-align: center;
}

.first {
  background-color: #d1b4de;
}

.twentyOne .third {
  background-color: #ffc563;
}

.second {
  background-color: #cde4b4;
}

.twentyOne .second {
  background-color: #e5e5e5;
}

.third {
  background-color: #b9e7de;
}

.active {
  transform: translate3d(0, 0, 0);
}

.twentyOne {
  border: none;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}

.twentyOne .expandingButtons {
  border: none;
  border-top: none;
  box-shadow: -2px -7px 8px 0 rgba(0, 0, 0, 0.082);
}

.twentyOne a {
  border: 2px dashed transparent;
  font-family: inherit;
}

.twentyTwo {
  border: 1px solid var(--palette-text);
  border-right: 0;
}

.twentyTwo .expandingButtons {
  border: 1px solid var(--palette-text);
  border-bottom: 0;
  border-right: 0;
}

.twentyTwo a {
  border: 2px dashed transparent;
  font-family: inherit;
}
