.skills {
  display: block;
  margin: 0 auto;
}

.skills__section {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.skill__img {
  height: 2.5rem;
  padding-right: 2rem;
}

.skill h3 {
  padding: 0.5rem 0;
  font-family: var(--font-raleway);
}

.tag {
  padding: 0.4rem 0.6rem;
  background-color: rgb(244, 244, 244);
  border-radius: 1rem;
}

.skill__content {
  line-height: 160%;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .skills__section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .skills__section {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }

  .skill__img {
    padding-right: 1rem;
  }

  .skill__wrapper {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
}
