.container {
  padding: var(--spacings-xxs) var(--spacings-s);
  gap: var(--spacings-s);
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    padding: var(--spacings-s) var(--spacings-m);
  }
}

.skills {
  gap: var(--spacings-xs);
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.skills div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skills h3 {
  margin-bottom: 1rem;
}

.skillsWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 0.6fr) 1fr;
  gap: var(--spacings-m);
}
