/* .label {
  padding: var(--spacings-xxs);
  width: max-content;
  list-style-type: none;
  border: 2px dashed var(--color);
  background-color: color-mix(in srgb, var(--color) 35%, transparent);
  font-family: monospace;
} */

/* .label {
  padding: var(--spacings-xxs);
  width: max-content;
  list-style-type: none;
  border: 2px dashed var(--color);
  background-color: color-mix(in srgb, var(--color) 35%, transparent);
  font-family: monospace;
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 49%);
  padding-left: 1rem;
}
 */

.label {
  list-style-type: none;
  font-family: monospace;
  padding-top: var(--spacings-xxs);
}

:where(section) .label {
  padding: var(--spacings-xxs);
  width: max-content;
  list-style-type: none;
  border: 2px dashed black;
  background-color: var(--color);
  /*     background-color: color-mix(in srgb, var(--color) 35%, transparent); */
  font-family: monospace;
}
