.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-s);
  margin-bottom: var(--spacings-xs);
}

.footer {
  display: flex;
  gap: var(--spacings-xxs);
  justify-content: center;

  @media only screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
