p {
  line-height: 150%; }

.header__text {
  color: #454545;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header__text--main {
    font-size: 4.2rem; }
    @media only screen and (max-width: 600px) {
      .header__text--main {
        padding-top: 1rem; } }
  .header__text--small {
    font-size: 2rem;
    padding-top: 1.5rem; }

.projects__h2 {
  font-size: 3.6rem;
  color: #454545; }

.card__text--h {
  color: #454545;
  padding-bottom: 1rem; }
  .card__text--h h3 {
    font-size: 2.5rem; }
  .card__text--h p {
    font-size: 2rem;
    font-style: italic;
    padding-left: 1.2rem;
    line-height: 1.68; }
    @media only screen and (max-width: 53.125em) {
      .card__text--h p {
        padding-left: 0;
        margin-top: 1rem; } }

.card__text p {
  color: #454545;
  font-size: 2rem; }

.github-link {
  padding: 1rem;
  border: 1px solid #cfcfcf;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  border-radius: 12px;
  background-color: white;
  line-height: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: #454545; }
  .github-link:hover {
    -webkit-box-shadow: 0 2px 5px 1px rgba(209, 209, 209, 0.35);
            box-shadow: 0 2px 5px 1px rgba(209, 209, 209, 0.35); }
  .github-link:active {
    -webkit-transform: translate(0.1rem, 0.1rem);
            transform: translate(0.1rem, 0.1rem);
    -webkit-box-shadow: 1px 2px 5px 1px rgba(209, 209, 209, 0.2);
            box-shadow: 1px 2px 5px 1px rgba(209, 209, 209, 0.2); }

.git {
  width: 2.5rem;
  margin-right: 0.5rem;
  vertical-align: middle; }

.card__text--list {
  padding: 2rem 0 0 2rem; }
  .card__text--list li {
    padding-bottom: 1rem; }
  .card__text--list a {
    font-size: 2rem; }

a,
a:visited {
  text-decoration: none;
  color: #454545; }

.a--animated,
.a--animated:visited {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  border-bottom: solid 2px #ffe0ac; }

.a--animated:before,
.a--animated:after {
  border-bottom: solid 1px #ffe0ac;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0; }

.a--animated:before {
  left: 0; }

.a--animated:after {
  right: 0; }

.a--animated:hover:before,
.a--animated:hover:after {
  width: 50%; }

.a--animated:before,
.a--animated:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

header {
  width: 100%;
  margin: 0;
  min-height: 25rem;
  padding: 5rem 18rem;
  background: linear-gradient(176deg, #ffe0ac 0%, #ffc563 100%);
  -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  z-index: 1000;
  position: relative; }
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1466px;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      header div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media only screen and (max-width: 75em) {
    header {
      padding: 5rem 8rem; } }

.header__photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 2.5rem;
  margin-left: 0; }
  @media only screen and (max-width: 37.5em) {
    .header__photo {
      margin: 0; } }

@media only screen and (max-width: 37.5em) {
  .header__links {
    margin-left: 0; } }

.header__links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 53.125em) {
    .header__links ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .header__links ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding-top: 2.5rem;
      text-align: left; } }

.header__links li {
  padding-left: 4rem;
  padding-bottom: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .header__links li {
      padding: 0 3rem 0 0; } }

.header__links a,
.header__links a:focus,
.header__links a:visited {
  color: #454545;
  font-size: 2rem; }

.header__links a:before,
.header__links a:after {
  border-bottom: solid 2px white; }

.header__link {
  height: 3.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .header__link:hover {
    -webkit-filter: invert(100%) brightness(1.75);
            filter: invert(100%) brightness(1.75); }

.projects {
  width: 100%;
  display: block;
  margin: 0 auto; }

.card {
  margin: 4rem 0;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  position: sticky;
  top: 10px; }
  .card__text {
    padding-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 10;
        flex-shrink: 10;
    overflow: hidden; }
    .card__text--h {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media only screen and (max-width: 53.125em) {
        .card__text--h {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    .card__text--techs {
      margin-top: auto;
      padding-top: 2rem; }
      .card__text--techs ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .card__text--techs ul li {
          display: block;
          padding: 0.8rem;
          margin: 1rem 1.5rem 1rem 0;
          font-size: 1.5rem;
          font-weight: bold;
          min-width: 7.5rem;
          text-align: center;
          border-radius: 7px; }
          .card__text--techs ul li:first-child {
            margin-left: 0; }
  .card__pic {
    max-width: 20rem; }
  .card__pics {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .card__pics:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    @media only screen and (max-width: 53.125em) {
      .card__pics {
        display: none; } }
    .card__pics .pic1 {
      grid-area: 1 / 2 / 3 / 4; }
    .card__pics .pic2 {
      grid-area: 2 / 1 / 4 / 3; }
    .card__pics .pic1,
    .card__pics .pic2 {
      -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
              box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); }

.card:nth-child(1n) {
  top: 20px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(2n) {
  top: 40px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(3n) {
  top: 60px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(4n) {
  top: 80px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(5n) {
  top: 100px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(6n) {
  top: 120px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(7n) {
  top: 140px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.card:nth-child(8n) {
  top: 160px;
  -webkit-box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
          box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.js-yellow {
  color: #8d7500;
  background-color: #fddb3a; }

.gulp-peach {
  color: #cf4647;
  background-color: #ffbfc0; }

.sass-pink {
  color: #bf4080;
  background-color: #ffb7db; }

.html-green {
  color: #5ea03e;
  background-color: #caffb7; }

.npm-blue {
  color: #568484;
  background-color: #b7ffff; }

.aem-orange {
  color: #976200;
  background-color: #ffbb3c; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  margin: 0 auto; }

main {
  margin: 0 auto;
  padding: 5rem 18rem;
  width: 100%;
  background-color: #e5e5e5;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    main {
      padding: 5rem 8rem; } }
  @media only screen and (max-width: 37.5em) {
    main {
      padding: 5rem; } }
