* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

body {
  margin: 0 auto;
  max-width: 1466px; }

.header__text {
  color: #454545; }
  .header__text--main {
    font-size: 4.2rem; }
  .header__text--small {
    font-size: 2rem;
    padding-top: 1.5rem; }

header {
  width: 100%;
  margin: 0 auto;
  min-height: 25rem;
  padding: 5rem 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(176deg, #ffe0ac 0%, #ffc563 100%); }

.header__photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 2.5rem; }

.header__links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__links li {
  padding-left: 4rem; }

.header__links a,
.header__links a:focus,
.header__links a:visited {
  text-decoration: none;
  color: #454545;
  font-size: 2rem; }
