.header__text {
  color: #454545;
  flex-direction: column; }
  .header__text--main {
    font-size: 4.2rem; }
    @media only screen and (max-width: 600px) {
      .header__text--main {
        padding-top: 1rem; } }
  .header__text--small {
    font-size: 2rem;
    padding-top: 1.5rem; }

.projects__h2 {
  font-size: 3.6rem;
  color: #454545; }

.projects__card__text--h {
  color: #454545;
  padding-bottom: 1rem; }
  .projects__card__text--h h3 {
    font-size: 2.5rem; }
    .projects__card__text--h h3 a,
    .projects__card__text--h h3 a:visited {
      color: #454545;
      text-decoration: none;
      transition: all 0.1s;
      position: relative;
      border-bottom: solid 2px #ffe0ac; }
    .projects__card__text--h h3 a:before,
    .projects__card__text--h h3 a:after {
      content: "";
      border-bottom: solid 4px #ffe0ac;
      position: absolute;
      bottom: 0;
      width: 0; }
    .projects__card__text--h h3 a:before {
      left: 0; }
    .projects__card__text--h h3 a:after {
      right: 0; }
    .projects__card__text--h h3 a:hover:before,
    .projects__card__text--h h3 a:hover:after {
      width: 50%; }
    .projects__card__text--h h3 a:before,
    .projects__card__text--h h3 a:after {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .projects__card__text--h p {
    font-size: 2rem;
    font-style: italic;
    padding-left: 1.2rem;
    line-height: 1.68; }

.projects__card__text p {
  color: #454545;
  font-size: 2rem; }

header {
  width: 100%;
  margin: 0;
  min-height: 25rem;
  padding: 5rem 18rem;
  background: linear-gradient(176deg, #ffe0ac 0%, #ffc563 100%);
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  z-index: 1000;
  position: relative; }
  header div {
    display: flex;
    max-width: 1466px;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      header div {
        flex-direction: column; } }
  @media only screen and (max-width: 75em) {
    header {
      padding: 5rem 8rem; } }

.header__photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 2.5rem;
  margin-left: 0; }
  @media only screen and (max-width: 37.5em) {
    .header__photo {
      margin: 0; } }

.header__links ul {
  list-style: none;
  display: flex; }
  @media only screen and (max-width: 53.125em) {
    .header__links ul {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .header__links ul {
      flex-direction: row;
      padding-top: 2.5rem; } }

.header__links li {
  padding-left: 4rem;
  padding-bottom: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .header__links li {
      padding: 0 1.5rem; } }

.header__links a,
.header__links a:focus,
.header__links a:visited {
  text-decoration: none;
  color: #454545;
  font-size: 2rem;
  transition: all 0.2s;
  position: relative;
  padding-bottom: 2px; }

.header__links a:before,
.header__links a:after {
  content: "";
  border-bottom: solid 2px white;
  position: absolute;
  bottom: 0;
  width: 0; }

.header__links a:before {
  left: 0; }

.header__links a:after {
  right: 0; }

.header__links a:hover:before,
.header__links a:hover:after {
  width: 50%; }

.header__links a:before,
.header__links a:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.projects {
  width: 100%;
  display: block;
  margin: 0 auto; }
  .projects__card {
    margin: 4rem 0;
    background-color: #f9f9f9;
    display: flex;
    padding: 3rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    position: sticky;
    top: 10px; }
    .projects__card__text {
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 10;
      overflow: hidden; }
      .projects__card__text--h {
        display: flex; }
      .projects__card__text--techs {
        margin-top: auto;
        padding-top: 2rem; }
        .projects__card__text--techs ul {
          display: flex;
          list-style: none;
          flex-wrap: wrap; }
          .projects__card__text--techs ul li {
            display: block;
            padding: 1rem;
            margin: 1rem 1.5rem 1rem 0;
            font-size: 1.5rem;
            font-weight: bold;
            min-width: 7.5rem;
            text-align: center;
            border-radius: 7px; }
            .projects__card__text--techs ul li:first-child {
              margin-left: 0; }
    .projects__card__pics {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(3, 30%); }
      @media only screen and (max-width: 53.125em) {
        .projects__card__pics {
          display: none; } }
      .projects__card__pics .pic1 {
        grid-area: 1 / 2 / 3 / 4; }
      .projects__card__pics .pic2 {
        grid-area: 2 / 1 / 4 / 3; }

.projects__card:nth-child(1n) {
  top: 20px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(2n) {
  top: 40px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(3n) {
  top: 60px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(4n) {
  top: 80px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(5n) {
  top: 100px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(6n) {
  top: 120px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(7n) {
  top: 140px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card:nth-child(8n) {
  top: 160px;
  box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048); }

.projects__card__pic {
  max-width: 20rem; }

.js-yellow {
  color: #8d7500;
  background-color: #fddb3a; }

.gulp-peach {
  color: #cf4647;
  background-color: #ffbfc0; }

.sass-pink {
  color: #bf4080;
  background-color: #ffb7db; }

.html-green {
  color: #5ea03e;
  background-color: #caffb7; }

.npm-blue {
  color: #568484;
  background-color: #b7ffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  margin: 0 auto; }

main {
  margin: 0 auto;
  padding: 5rem 18rem;
  width: 100%;
  background-color: #e5e5e5;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    main {
      padding: 5rem 8rem; } }
