:root {
  --spacings-xxs: 0.5rem;
  --spacings-xs: 1rem;
  --spacings-s: 2rem;
  --spacings-m: 4rem;

  --palette-bg: rgb(255 249 230);
  --palette-text: #161614;
  --palette-accent: #ffae00;

  --dashed-border-m: 3px dashed black;
  --dashed-border-s: 2px dashed black;

  @media only screen and (max-width: 900px) {
    font-size: 13px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-main), sans-serif;
  background-color: var(--palette-bg);
  color: var(--palette-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-header), serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
}

body {
  transition: background-color 0.4s ease-in-out;
}

.wttLink {
  transition: all 0.2s;
  border-bottom: 2px dashed var(--palette-accent, --palette-bg);
}

.wttLink:hover {
  border-bottom: 2px dashed var(--palette-accent);
}
