:root {
  --spacings-xxs: 0.5rem;
  --spacings-xs: 1rem;
  --spacings-s: 2rem;
  --spacings-m: 4rem;

  --palette-bg: rgb(255 253 247);
  --palette-text: #161614;
  --palette-dark-orange: #7498eb;
  --palette-light-bg: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-main), sans-serif;
  background-color: var(--palette-bg);
  color: var(--palette-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-header), serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}

body {
  transition: background-color 0.4s ease-in-out;
}

.wttLink {
  border-bottom: 2.5px dashed black;
}
/* 
.isStuck {
  transform: translate(-5px, 5px);
  box-shadow: none !important;
} */
