.post {
  border: var(--dashed-border-m);
  border-radius: var(--border-radius);
  padding: 0 var(--spacings-s);
  margin-block-start: var(--spacings-s);
  background-color: var(--palette-offwhite);
}

.post p {
  line-height: 2rem;
}
