.post {
  display: flex;
  gap: var(--spacings-s);
}

.post ul {
  margin: var(--spacings-xs);
  overflow-wrap: break-word;
}

.post a {
  transition: border-bottom-color 0.2s ease-in-out;
  border-bottom: var(--dashed-border-s);
  border-bottom-color: var(--palette-accent);
}

.post a:hover,
.post a:active {
  border-bottom-color: black;
}

.post ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 0.5rem;
}

.post li {
  font-size: 1.2rem;
  margin: var(--spacings-xs);
  line-height: 1.8rem;
}

.post p,
.post li {
  line-height: 1.8rem;
}

.post blockquote:not(.twitter-tweet) {
  background-color: #ebebeb91;
  margin: 0;
  padding: var(--spacings-xs);
  border-radius: 20px;
}

.post :global .twitter-tweet,
.post :global .tenor-gif-embed {
  margin: 2rem auto !important;
  background-color: transparent;
}

.post :global .centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post :global .blogImg {
  width: 70%;
}

.post :global #contents {
  order: 1;
  position: sticky;
  top: var(--spacings-s);
  display: block;
  overflow: auto;
  min-width: 30%;
  align-self: flex-start;
}

.post :global #main {
  border: var(--dashed-border-m);
  border-radius: var(--border-radius);
  padding: 0 var(--spacings-s);
  background-color: var(--palette-offwhite);
}

.post h2 {
  scroll-margin-top: 2rem;
}

.post :global .hiddenLink {
  border-bottom: 0;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0;
}

.post :global .githubLink::after {
  background: url("/github.png") no-repeat center center;
}

.post :global .spotifyLink::after {
  background: url("/spotify.png") no-repeat center center;
}

.post :global .spotifyLink::after,
.post :global .githubLink::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  margin-left: 5px;
}

.post figcaption {
  font-weight: 200;
  text-align: center;
}

@media (max-width: 1200px) {
  .post {
    display: flex;
    flex-direction: column;
  }

  .post :global #contents {
    position: relative;
    order: -1;
  }
}

@media (max-width: 1050px) {
  .post p {
    line-height: 2rem;
  }

  .post :global figure {
    margin: var(--spacings-xs);
  }

  .post :global figure img {
    width: 100% !important;
  }

  .post pre {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .post pre {
    white-space: pre-wrap !important;
  }
}
