.socials {
  display: flex;
  list-style-type: none;
  grid-area: social;
  margin: 0;
  gap: var(--spacings-xs);
  justify-content: space-evenly;
}

.socials svg {
  width: 35px;
  height: 35px;
  fill: var(--palette-text);
  transition: fill 0.4s ease-in-out;
}

.socials svg:hover {
  fill: var(--palette-accent);
}

:where(main) .socials {
  flex-direction: column;
  gap: var(--spacings-xxs);
}

@media only screen and (max-width: 900px) {
  :where(main) .socials {
    flex-direction: row;
  }
}
