header {
  width: 100%;
  margin: 0;
  min-height: 25rem;
  padding: 5rem 18rem;
  background: linear-gradient(
    176deg,
    $color-yellow 0%,
    $color-yellow-dark 100%
  );
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  z-index: 1000;
  position: relative;

  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 8rem;
  }
}

.header__container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  @media only screen and (max-width: $bp-medium) {
    align-items: center;
  }
  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
}

.header__photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 2.5rem;
  margin-left: 0;

  @media only screen and (max-width: $bp-smallest) {
    margin: 0;
  }
}

.header__links {
  margin-left: auto;
  @media only screen and (max-width: $bp-smallest) {
    margin-left: 0;
  }
  ul {
    list-style: none;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
    @media only screen and (max-width: $bp-smallest) {
      flex-direction: row;
      padding-top: 2.5rem;
      text-align: left;
    }
  }

  li {
    padding-left: 4rem;
    padding-bottom: 2.5rem;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 3rem 0 0;
    }
  }

  a,
  a:focus,
  a:visited {
    color: $color-font-grey;
    font-size: $font-size-general;
  }

  a:before,
  a:after {
    border-bottom: solid 2px white;
  }
}

.header__link {
  height: 3.5rem;
  transition: all 0.2s;

  &:hover {
    filter: invert(100%) brightness(1.75);
  }
}
