header {
  width: 100%;
  margin: 0;
  min-height: 25rem;
  padding: 5rem 18rem;
  background: linear-gradient(
    176deg,
    $color-yellow 0%,
    $color-yellow-dark 100%
  );
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  z-index: 1000;
  position: relative;

  div {
    display: flex;
    max-width: 1466px;
    margin: 0 auto;
    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 8rem;
  }
}

.header__photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 2.5rem;
  margin-left: 0;

  @media only screen and (max-width: $bp-smallest) {
    margin: 0;
  }
}

.header__links {
  ul {
    list-style: none;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
    @media only screen and (max-width: $bp-smallest) {
      flex-direction: row;
      padding-top: 2.5rem;
    }
  }

  li {
    padding-left: 4rem;
    padding-bottom: 2.5rem;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1.5rem;
    }
  }

  a,
  a:focus,
  a:visited {
    text-decoration: none;
    color: $color-font-grey;
    font-size: $font-size-general;
    transition: all 0.2s;
    position: relative;
    padding-bottom: 2px;
  }

  a:before,
  a:after {
    content: "";
    border-bottom: solid 2px white;
    position: absolute;
    bottom: 0;
    width: 0;
  }

  a:before {
    left: 0;
  }
  a:after {
    right: 0;
  }

  a:hover:before,
  a:hover:after {
    width: 50%;
  }

  a:before,
  a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
