.projects {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.card {
  margin: 4rem 0;
  background-color: $color-card-background;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  position: sticky;
  top: 10px;

  &__text {
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 10;
    overflow: hidden;
    &--h {
      display: flex;
      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }
    }

    &--techs {
      margin-top: auto;
      padding-top: 2rem;
      ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        li {
          display: block;
          padding: 0.8rem;
          margin: 1rem 1.5rem 1rem 0;
          font-size: 1.5rem;
          font-weight: bold;
          min-width: 7.5rem;
          text-align: center;
          border-radius: 7px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__pic {
    max-width: 20rem;
  }

  &__pics {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    .pic1 {
      grid-area: 1 / 2 / 3 / 4;
    }
    .pic2 {
      grid-area: 2 / 1 / 4 / 3;
    }

    .pic1,
    .pic2 {
      box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
        0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
    }
  }
}

@for $i from 1 through 8 {
  .card:nth-child(#{$i}n) {
    top: $i * 20px;
    box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.048);
  }
}

.js-yellow {
  color: $js-yellow-font;
  background-color: $js-yellow-back;
}

.gulp-peach {
  color: $gulp-peach-font;
  background-color: $gulp-peach-back;
}

.sass-pink {
  color: $sass-pink-font;
  background-color: $sass-pink-back;
}

.html-green {
  color: $html-green-font;
  background-color: $html-green-back;
}

.npm-blue {
  color: $npm-blue-font;
  background-color: $npm-blue-back;
}

.aem-orange {
  color: $aem-orange-font;
  background-color: $aem-orange-back;
}

.parcel-blue {
  color: $parcel-blue-font;
  background-color: $parcel-blue-back;
}

.jest-green {
  color: $jest-green-font;
  background-color: $jest-green-back;
}

.tree {
  font-size: 3rem;
}

.crossed {
  text-decoration: line-through;
}

.react-blue {
  color: $react-blue-font;
  background-color: $react-blue-back;
}

.ts-blue {
  color: $ts-blue-font;
  background-color: $ts-blue-back;
}
