.skills {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  &__section {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
      padding: 4rem 2rem;
    }
  }
}

.skill {
  &__img {
    height: 4.5rem;
    padding-right: 2rem;
    @media only screen and (max-width: $bp-smallest) {
      height: 4rem;
    }
  }

  h3 {
    padding: 1rem 0;
  }
  .tag {
    padding: 0.4rem 0.6rem;
    background-color: rgb(244, 244, 244);
    border-radius: 1rem;
  }
  &__wrapper {
    @media only screen and (max-width: $bp-smallest) {
      display: flex;
      margin-bottom: 1rem;
      flex-wrap: wrap;
    }
  }
}
