p {
  line-height: 150%;
  font-size: 2rem;
  color: $color-font-grey;
}
.header__text {
  color: $color-font-grey;
  flex-direction: column;

  &--main {
    font-size: 4.2rem;
    @media only screen and (max-width: $bp-smallest) {
      padding-top: 1rem;
    }
  }

  &--small {
    font-size: $font-size-general;
    padding-top: 1.5rem;
  }
}

.h2 {
  font-size: 3.6rem;
  color: $color-font-grey;
}

h3 {
  font-size: 2.5rem;
  color: $color-font-grey;
}

.card__text--h {
  color: $color-font-grey;
  padding-bottom: 1rem;

  p {
    font-style: italic;
    padding-left: 1.2rem;
    line-height: 1.68;

    @media only screen and (max-width: $bp-medium) {
      padding-left: 0;
      margin-top: 1rem;
    }
  }
}

.card__text p {
  color: $color-font-grey;
  font-size: $font-size-general;
}

.github-link {
  padding: 1rem;
  border: 1px solid rgb(207, 207, 207);
  display: block;
  width: fit-content;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  border-radius: 12px;
  background-color: white;
  line-height: 20px;
  transition: all 0.2s;
  text-decoration: none;
  color: $color-font-grey;

  &:hover {
    box-shadow: 0 2px 5px 1px rgba(209, 209, 209, 0.35);
  }
  &:active {
    transform: translate(0.1rem, 0.1rem);
    box-shadow: 1px 2px 5px 1px rgba(209, 209, 209, 0.2);
  }
}

.git {
  width: 2.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.card__text--list {
  padding: 2rem 0 0 2rem;
  li {
    padding-bottom: 1rem;
  }
  a {
    font-size: $font-size-general;
  }
}
