.header__text {
  color: $color-font-grey;
  flex-direction: column;

  &--main {
    font-size: 4.2rem;
    @media only screen and (max-width: 600px) {
      padding-top: 1rem;
    }
  }

  &--small {
    font-size: $font-size-general;
    padding-top: 1.5rem;
  }
}
