.header__text {
  color: $color-font-grey;
  flex-direction: column;

  &--main {
    font-size: 4.2rem;
    @media only screen and (max-width: 600px) {
      padding-top: 1rem;
    }
  }

  &--small {
    font-size: $font-size-general;
    padding-top: 1.5rem;
  }
}

.projects__h2 {
  font-size: 3.6rem;
  color: $color-font-grey;
}

.projects__card__text--h {
  color: $color-font-grey;
  padding-bottom: 1rem;
  h3 {
    font-size: 2.5rem;

    a,
    a:visited {
      color: $color-font-grey;
      text-decoration: none;
      transition: all 0.1s;
      position: relative;
      border-bottom: solid 2px $color-yellow;
    }

    a:before,
    a:after {
      content: "";
      border-bottom: solid 4px $color-yellow;
      position: absolute;
      bottom: 0;
      width: 0;
    }

    a:before {
      left: 0;
    }
    a:after {
      right: 0;
    }

    a:hover:before,
    a:hover:after {
      width: 50%;
    }

    a:before,
    a:after {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  p {
    font-size: 2rem;
    font-style: italic;
    padding-left: 1.2rem;
    line-height: 1.68;
  }
}

.projects__card__text p {
  color: $color-font-grey;
  font-size: $font-size-general;
}
