.container {
  padding: var(--spacings-s);
  gap: var(--spacings-xs);
}

.main p {
  font-size: 1.2rem;
}

.container > h2 {
  margin-block-start: var(--spacings-s);
}

.allPosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  gap: var(--spacings-s);
}

.blogTags {
  display: flex;
  gap: var(--spacings-xs);
  align-items: center;
  margin-block: var(--spacings-xs);
  flex-wrap: wrap;
}

.date {
  margin: 0;
  font-variant: all-petite-caps;
  margin-block-end: var(--spacings-xxs);
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: var(--spacings-s) var(--spacings-m);
  }
}
