.body {
  display: flex;
  flex-direction: column;
}

.container {
  padding: var(--spacings-s);
  display: flex;
  flex-direction: column;
  gap: var(--spacings-s);
}

.postsSpace > h2 {
  margin-block-start: var(--spacings-s);
  margin-block-end: var(--spacings-xs);
}

.postsSpace {
  display: flex;
  flex-direction: column;
}

.allPosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
  gap: 2rem;
}

.blogTags {
  display: flex;
  gap: var(--spacings-xs);
  align-items: center;
  margin-block: var(--spacings-xs);
  flex-wrap: wrap;
}

.date {
  margin: 0;
  font-variant: all-petite-caps;
  margin-block-end: var(--spacings-xxs);
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: var(--spacings-s) var(--spacings-m);
  }
}
