.label {
  list-style-type: none;
  font-family: monospace;
  padding-top: var(--spacings-xxs);
}

.label button {
  border: 0;
  background-color: transparent;
  padding: 0;
  font-family: monospace;
  cursor: pointer;
  color: inherit;
  font-size: 0.9rem;
}

.label button:focus-visible {
  outline: 3px dashed orange;
  outline-offset: 15px;
}

.inactive {
  filter: opacity(0.5);
}

:global(#tags) .label {
  padding: var(--spacings-xxs);
  width: max-content;
  list-style-type: none;
  border: var(--dashed-border-s);
  background-color: var(--color);
  font-family: monospace;
}

.skills {
  margin: 0;
  margin-top: var(--spacings-xs);
}

.skills ul {
  display: flex;
  gap: var(--spacings-xs);
  flex-wrap: wrap;
}

.skills h3 {
  margin-bottom: var(--spacings-xs);
}
